.wrapper ul{
	margin: 0px;
	padding: 0px;

}

.wrapper{
	background-color: black;
}



@media only screen and (max-width: 1000px) {
  .wrapper {
   display: none;
  }
}





.jumbotron{
	
	background-repeat: no-repeat;
	background-image: url(BG.jpg);
	background-size: cover;
	min-height: 100vh;
	background-position: center;
	
	width: 100%;


}
section{
	min-height: 540px;


}
.desc{
	
	position: relative;
	margin-top: 15%;
}

/*.desc{
	position: relative;
	
	transform: translateY(-50%);
}*/

button{
	padding: 20px 90px;
	border: none;
	border-radius: 8px;
	margin: 10px 10px;
}
.button-1{
	

}
.slide a{
	
	color: black;
}
.slide span{

	background-color: black;
}